//colors
$inputBorderColor: #000000;
$inputBorderColorHover: #858585;
$inputPlaceholder: #9F9F9F;
$dropDownMenuBorder: #DDDDDD;
$dropdownSelected: #E5EAF5;
$black: #121E42;
$redRose: #FB0059;
$gray: #5F5F5F;
$lightGray: #CDCDCD;
$divider: rgba(18, 30, 66, 0.3);
$lightPink: #F896BD;
$white: #FFFFFF;

//fonts
$mainTitle: 700 60px/54px "GT Eesti Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI Bold", "Roboto Bold", sans-serif;
$mainTitleMobile: 700 40px/36px "GT Eesti Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI Bold", "Roboto Bold", sans-serif;
$title: 700 54px/38px "GT Eesti Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI Bold", "Roboto Bold", sans-serif;
$fieldTitle: 700 31px/38px "GT Eesti Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI Bold", "Roboto Bold", sans-serif;
$buttonTitle: 500 20px/23px "GT Eesti Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI Semibold", "Roboto Medium", sans-serif;
$text: 400 17px/22px "Inter Light", -apple-system, BlinkMacSystemFont, "Segoe UI Bold", "Roboto Bold", sans-serif;
$textMobile: 400 14px/22px "Inter Light", -apple-system, BlinkMacSystemFont, "Segoe UI Bold", "Roboto Bold", sans-serif;


//breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

