@use '../../styles/mixins';
@use '../../styles/variables';

.root {
  padding: 60px 80px;

  @include mixins.notDesktop {
    padding: 20px 18px 0 60px;
  }
}

.fieldsGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 60px;

  &:last-of-type {
    @include mixins.notDesktop {
      margin-bottom: 0;
    }
  }
}

.fieldTitle {
  font: variables.$fieldTitle;
  margin-bottom: 18px;
  margin-right: 35px;
}

.inputLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.input {
  @include mixins.input;
  width: 500px;
  margin-right: 16px;

  @include mixins.notDesktop {
    width: 360px;
    margin-right: 10px;
  }
}
