@use '../styles/mixins';
@use '../styles/variables';

.root {
  display: grid;
  grid: auto / 1fr;
  grid-gap: 26px 0;
  justify-items: start;
  margin: 24px 0;
}

.periodUnitText {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font: variables.$text;
  color: variables.$gray;
}

.ruleText {
  font: variables.$text;
  color: variables.$gray;
}

.periodsInputsGroup {
  display: grid;
  grid-gap: 32px 18px ;
  grid-template-columns: 240px 140px;
  grid-template-rows: auto;

  @include mixins.tablet {
    grid-template-columns: 240px auto;
  }

  @include mixins.mobile {
    grid-template-columns: 1fr 1fr;
  }
}

.periodInput {
  @include mixins.input;
  width: 100%;
}

.periodDropdown {
  width: 100%;
}
